<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Xi - Game {{game.id}}</title>
</head>
<body>
<h2>{{game.id}}. {{game.redPlayer.name}} - {{game.blackPlayer.name}}</h2>
</body>
</html>
