<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Xi - Reset password</title>
</head>
<body>
  {{#if confirmed}}
    Check your email for a reset link.
  {{else}}
    <h1>Reset password</h1>
    <form method="POST" action="/request-reset-password">
      <input type="email" name="email"/>
      <input type="submit" value="reset"/>
    </form>
  {{/if}}
</body>
</html>
